<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assign.mapper.AssignMapper">

    <resultMap id="BaseResultMap" type="com.assign.entity.po.AssignPO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="ecOrderNo" column="ec_order_no" jdbcType="VARCHAR"/>
            <result property="ecProductId" column="ec_product_id" jdbcType="VARCHAR"/>
            <result property="ecItemId" column="ec_item_id" jdbcType="BIGINT"/>
            <result property="ecItemName" column="ec_item_name" jdbcType="VARCHAR"/>
            <result property="buyOrderNo" column="buy_order_no" jdbcType="VARCHAR"/>
            <result property="buyUrl" column="buy_url" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="agencyPrice" column="agency_price" jdbcType="DECIMAL"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="operatorId" column="operator_id" jdbcType="TINYINT"/>
            <result property="executorId" column="executor_id" jdbcType="TINYINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="deletedAt" column="deleted_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,status,ec_order_no,
        ec_product_id,ec_item_id,ec_item_name,
        buy_order_no,buy_url,price,
        agency_price,type,operator_id,
        executor_id,created_at,updated_at,
        deleted_at
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from assign
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from assign
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.assign.entity.po.AssignPO" useGeneratedKeys="true">
        insert into assign
        ( id,status,ec_order_no
        ,ec_product_id,ec_item_id,ec_item_name
        ,buy_order_no,buy_url,price
        ,agency_price,type,operator_id
        ,executor_id,created_at,updated_at
        ,deleted_at)
        values (#{id,jdbcType=BIGINT},#{status,jdbcType=TINYINT},#{ecOrderNo,jdbcType=VARCHAR}
        ,#{ecProductId,jdbcType=VARCHAR},#{ecItemId,jdbcType=BIGINT},#{ecItemName,jdbcType=VARCHAR}
        ,#{buyOrderNo,jdbcType=VARCHAR},#{buyUrl,jdbcType=VARCHAR},#{price,jdbcType=DECIMAL}
        ,#{agencyPrice,jdbcType=DECIMAL},#{type,jdbcType=TINYINT},#{operatorId,jdbcType=TINYINT}
        ,#{executorId,jdbcType=TINYINT},#{createdAt,jdbcType=TIMESTAMP},#{updatedAt,jdbcType=TIMESTAMP}
        ,#{deletedAt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.assign.entity.po.AssignPO" useGeneratedKeys="true">
        insert into assign
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="status != null">status,</if>
                <if test="ecOrderNo != null">ec_order_no,</if>
                <if test="ecProductId != null">ec_product_id,</if>
                <if test="ecItemId != null">ec_item_id,</if>
                <if test="ecItemName != null">ec_item_name,</if>
                <if test="buyOrderNo != null">buy_order_no,</if>
                <if test="buyUrl != null">buy_url,</if>
                <if test="price != null">price,</if>
                <if test="agencyPrice != null">agency_price,</if>
                <if test="type != null">type,</if>
                <if test="operatorId != null">operator_id,</if>
                <if test="executorId != null">executor_id,</if>
                <if test="createdAt != null">created_at,</if>
                <if test="updatedAt != null">updated_at,</if>
                <if test="deletedAt != null">deleted_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="status != null">#{status,jdbcType=TINYINT},</if>
                <if test="ecOrderNo != null">#{ecOrderNo,jdbcType=VARCHAR},</if>
                <if test="ecProductId != null">#{ecProductId,jdbcType=VARCHAR},</if>
                <if test="ecItemId != null">#{ecItemId,jdbcType=BIGINT},</if>
                <if test="ecItemName != null">#{ecItemName,jdbcType=VARCHAR},</if>
                <if test="buyOrderNo != null">#{buyOrderNo,jdbcType=VARCHAR},</if>
                <if test="buyUrl != null">#{buyUrl,jdbcType=VARCHAR},</if>
                <if test="price != null">#{price,jdbcType=DECIMAL},</if>
                <if test="agencyPrice != null">#{agencyPrice,jdbcType=DECIMAL},</if>
                <if test="type != null">#{type,jdbcType=TINYINT},</if>
                <if test="operatorId != null">#{operatorId,jdbcType=TINYINT},</if>
                <if test="executorId != null">#{executorId,jdbcType=TINYINT},</if>
                <if test="createdAt != null">#{createdAt,jdbcType=TIMESTAMP},</if>
                <if test="updatedAt != null">#{updatedAt,jdbcType=TIMESTAMP},</if>
                <if test="deletedAt != null">#{deletedAt,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.assign.entity.po.AssignPO">
        update assign
        <set>
                <if test="status != null">
                    status = #{status,jdbcType=TINYINT},
                </if>
                <if test="ecOrderNo != null">
                    ec_order_no = #{ecOrderNo,jdbcType=VARCHAR},
                </if>
                <if test="ecProductId != null">
                    ec_product_id = #{ecProductId,jdbcType=VARCHAR},
                </if>
                <if test="ecItemId != null">
                    ec_item_id = #{ecItemId,jdbcType=BIGINT},
                </if>
                <if test="ecItemName != null">
                    ec_item_name = #{ecItemName,jdbcType=VARCHAR},
                </if>
                <if test="buyOrderNo != null">
                    buy_order_no = #{buyOrderNo,jdbcType=VARCHAR},
                </if>
                <if test="buyUrl != null">
                    buy_url = #{buyUrl,jdbcType=VARCHAR},
                </if>
                <if test="price != null">
                    price = #{price,jdbcType=DECIMAL},
                </if>
                <if test="agencyPrice != null">
                    agency_price = #{agencyPrice,jdbcType=DECIMAL},
                </if>
                <if test="type != null">
                    type = #{type,jdbcType=TINYINT},
                </if>
                <if test="operatorId != null">
                    operator_id = #{operatorId,jdbcType=TINYINT},
                </if>
                <if test="executorId != null">
                    executor_id = #{executorId,jdbcType=TINYINT},
                </if>
                <if test="createdAt != null">
                    created_at = #{createdAt,jdbcType=TIMESTAMP},
                </if>
                <if test="updatedAt != null">
                    updated_at = #{updatedAt,jdbcType=TIMESTAMP},
                </if>
                <if test="deletedAt != null">
                    deleted_at = #{deletedAt,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.assign.entity.po.AssignPO">
        update assign
        set 
            status =  #{status,jdbcType=TINYINT},
            ec_order_no =  #{ecOrderNo,jdbcType=VARCHAR},
            ec_product_id =  #{ecProductId,jdbcType=VARCHAR},
            ec_item_id =  #{ecItemId,jdbcType=BIGINT},
            ec_item_name =  #{ecItemName,jdbcType=VARCHAR},
            buy_order_no =  #{buyOrderNo,jdbcType=VARCHAR},
            buy_url =  #{buyUrl,jdbcType=VARCHAR},
            price =  #{price,jdbcType=DECIMAL},
            agency_price =  #{agencyPrice,jdbcType=DECIMAL},
            type =  #{type,jdbcType=TINYINT},
            operator_id =  #{operatorId,jdbcType=TINYINT},
            executor_id =  #{executorId,jdbcType=TINYINT},
            created_at =  #{createdAt,jdbcType=TIMESTAMP},
            updated_at =  #{updatedAt,jdbcType=TIMESTAMP},
            deleted_at =  #{deletedAt,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
